::selection {
    color: var(--background);
    background: var(--foreground);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--foreground);
    border: 3px var(--highlight) solid;
    border-radius: 6px;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    color: var(--foreground);
    font-family: 'Oxygen Mono', monospace;
    overflow: hidden;
}

.top {
    -webkit-app-region: drag;
    width: calc(100vw - 65px);
    height: 20px;
    position: fixed;
}

.interface {
    border-radius: 10px;
    background-color: var(--highlight);
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    overflow-y: scroll;
    position: absolute;
    padding: 20px;
}

a {
    color: var(--results);
    font-weight: bold;
}

hr {
    height: 4px;
    border: none;
    background-color: var(--markup);
    border-radius: 14px;
}

.icon {
    opacity: 0;
    color: var(--foreground);
    position: fixed;
    transition: opacity .3s;
}
body:hover .icon {
    opacity: 1!important;
}
.top:hover .icon {
    opacity: 1!important;
}

#close {
    width: 20px;
    height: 14px;
    padding-top: 11px;
    padding-left: 5px;
    right: 10px;
    top: 10px;
}
#close:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: currentColor;
    transform: rotate(45deg);
}
#close:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: currentColor;
    transform: rotate(-45deg);
}
#min {
    right: 40px;
    top: 10px;
    width: 19px;
    height: 14px;
    padding-top: 11px;
    padding-left: 6px;
}
#min:after {
    content: '';
    position: absolute;
    width: 13px;
    height: 2px;
    background-color: currentColor;
}