::selection {
    color: var(--highlight);
    background: var(--foreground);
}
.simplebar-scrollbar:before {
    background-color: var(--foreground);
    border-radius: 6px;
    left: 2px;
    right: 4px;
}
.simplebar-scrollbar.simplebar-visible:before {
    opacity: 1;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    top: 5px;
    bottom: 5px;
}
#scroll {
    height: 100vh;
    border-radius: 10px;
    background-color: var(--highlight);
	width: 100vw;
	position: absolute;
}

body {
    margin: 0;
    padding: 0;
    color: var(--foreground);
    font-family: 'Oxygen Mono', monospace;
    overflow: hidden;
}

.top {
    -webkit-app-region: drag;
    width: calc(100vw - 65px);
    height: 20px;
    position: fixed;
}

.interface {
    width: calc(100% - 52px);
    overflow: hidden;
    padding: 20px;
}

a {
    color: var(--results);
    font-weight: bold;
}

hr {
    height: 4px;
    border: none;
    background-color: var(--markup);
    border-radius: 14px;
}

.icon {
    opacity: 0;
    color: var(--foreground);
    position: fixed;
    transition: opacity .3s;
}
body:hover .icon, .top:hover .icon {
    opacity: 1!important;
}

#close {
    width: 20px;
    height: 14px;
    padding-top: 11px;
    padding-left: 5px;
    right: 10px;
    top: 10px;
}
#close:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: currentColor;
    transform: rotate(45deg);
}
#close:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: currentColor;
    transform: rotate(-45deg);
}
#min {
    right: 40px;
    top: 10px;
    width: 19px;
    height: 14px;
    padding-top: 11px;
    padding-left: 6px;
}
#min:after {
    content: '';
    position: absolute;
    width: 13px;
    height: 2px;
    background-color: currentColor;
}